.comment {
    width: 40vw;
    margin: 1.25rem 0;
    padding: rem(10px);
    border: rem(1px) solid lightgrey;
    border-radius: 10px;
    div,
    h4,
    button {
        margin-block-end: rem(20px);
    }
    h4 {
        font-size: 20px;
    }
    .text {
        width: 100%;
        height: rem(55px);
    }
    p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    button {
        border: 1px solid black;
        background-color: rgb(211, 7, 7);
        color: white;
        padding: rem(10px);
    }
}
