.background-div {
    height: 100%;
    width: 100%;
    background-color: rgb(185, 185, 185);
    .first-level-wrapper {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        height: 80%;
        padding: rem(10px);
        @include from-mobile-layout() {
            height: 60%;
            flex-direction: row-reverse;
            justify-content: space-around;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-height: 550px) {
            overflow: auto;
            font-size: 14px;
            height: 100%;
            width: 40%;
            .spacer {
                display: none;
            }
        }
    }
    h1 {
        font-size: 4rem;
        font-family: "Oswald";
    }
    .img-container {
        height: rem(300px);
        width: rem(200px);
        @include aspect-ratio(16, 9);
        @include from-mobile-layout() {
            width: 50%;
            height: 70%;
            img {
                object-fit: contain;
            }
        }
        @media (max-height: 600px) {
            display: none;
        }
    }

    .spacer {
        border-color: rgb(185, 185, 185);
    }

    .rounded {
        padding: rem(10px);
        color: white;
        background-color: rgb(185, 185, 185);
        border-radius: 40px;
    }
    .login-buttons {
        display: flex;
        justify-content: space-around;
    }
    .signin-route-span {
        color: $primary-color;
        margin-inline-start: rem(5px);
        &:hover {
            cursor: pointer;
        }
    }
    .guest-btn {
        margin-top: rem(20px);
        padding: rem(10px);
        background-color: $primary-color;
        color: white;
        border-radius: 40px;
    }
}
