.background-div {
    height: 100%;
    width: 100%;
    background-color: rgb(185, 185, 185);
    .first-level-wrapper {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        height: 80%;
        padding: rem(10px);
        @include from-mobile-layout() {
            height: 60%;
            flex-direction: row-reverse;
            justify-content: space-around;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-container {
        height: rem(300px);
        width: rem(200px);
        @include aspect-ratio(16, 9);
        @include from-mobile-layout() {
            height: rem(300px);
            width: rem(400px);
        }
    }
    h1 {
        @include from-mobile-layout() {
            font-size: 40px;
        }
    }
    .login {
        @include from-mobile-layout() {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .spacer {
        border-color: rgb(185, 185, 185);
    }

    .rounded {
        padding: rem(10px);
        color: white;
        background-color: rgb(185, 185, 185);
        border-radius: 40px;
    }
    .login-buttons {
        display: flex;
        justify-content: space-around;
    }
    .signin-route-span {
        color: $primary-color;
        margin-inline-start: rem(5px);
        &:hover {
            cursor: pointer;
        }
    }
    .guest-btn {
        margin-top: rem(20px);
        padding: rem(10px);
        background-color: $primary-color;
        color: white;
        border-radius: 40px;
    }
}
