.board-header-content-wrapper {
    background-color: white;
    font-size: 10px;
    padding: rem(10px) rem(0px) rem(10px) rem(0px);
    svg {
        width: 15px;
        height: 15px;
    }

    .newitem-btn {
        background-color: $primary-color;
        color: white;
        white-space: pre;
        padding: rem(5px);
    }
    .filters-header {
        width: 100px;
        padding: rem(10px) rem(0px) rem(10px) rem(0px);
        div,
        button:not(:last-child) {
            margin-inline-end: 10px;
        }
    }

    .desc {
        .ellipsis {
            max-width: 40vw;
            max-height: rem(50px);
        }
        margin: rem(20px) 0;
    }
    .header-options {
        .activ,
        .invite {
            height: 100%;
            margin-inline-start: rem(5px);
            padding: rem(5px);
        }
    }
    textarea {
        border: 1px solid black;
        width: 40vw;
        height: rem(50px);
        resize: none;
    }
    @include from-mobile-layout {
        .header-options {
            .activ,
            .invite {
                height: 100%;
                margin-inline-start: rem(40px);
                padding: rem(10px);
            }
        }
        font-size: 1rem;
        svg {
            width: 20px;
            height: 20px;
        }
        .board-title {
            font-size: rem(30px);
            padding: rem(3px);
            border: rem(1px) solid transparent;
            &:hover {
                border: rem(1px) dotted lightgray;
            }
        }
        .board-title-edit {
            font-size: rem(30px);
            font-weight: bold;
            padding: rem(3px);
            border: rem(1px) dotted lightgray;
        }
        .newitem-btn {
            padding: rem(10px);
        }
    }

    .user-list-container {
        margin-top: rem(10px);
        font-size: rem(13px);
        max-width: rem(150px);
        background-color: white;
        box-shadow: 0 4px 17px 6px rgb(184, 184, 184);
        border-radius: rem(8px);
        padding: rem(10px);
        input {
            width: 100%;
        }
        .user-list {
            max-height: rem(100px);
            overflow-y: scroll;
            overflow-x: hidden;
            button {
                margin: 0;
                width: 100%;
                font-family: "Oswald", sans-serif;
                color: rgb(88, 88, 88);
                font-weight: bold;
                display: flex;
                align-items: center;
                padding: rem(10px);
            }
        }
    }

    .activities-container {
        overflow-y: scroll;
        color: rgb(139, 139, 139);
        max-height: rem(150px);
        margin-top: rem(10px);
        max-width: rem(300px);
        background-color: white;
        box-shadow: 0 4px 17px 6px rgb(184, 184, 184);
        border-radius: rem(8px);
        padding: rem(10px);
        span:hover {
            background-color: rgb(224, 224, 224);
            cursor: context-menu;
        }
    }
}
