.sidebar-boardlist-container {
    .board-list-container {
        span {
            margin-inline-start: rem(5px);
        }
    }
    .active {
        background-color: $primary-selected-color;
    }
    .span-active {
        color: $primary-color;
    }
    .side-boardlist-preview-container {
        display: flex;
        padding: rem(8px);
        cursor: pointer;
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .link {
            width: 90%;
        }
    }
}
