.group-list-wrapper {
    width: 100%;
    .title {
        width: 100%;
        grid-area: title;
        justify-self: start;
    }
    .person {
        grid-area: person;
    }
    .status {
        grid-area: status;
    }
    .date {
        grid-area: date;
    }
    transition: all 0.6s;
}
.width-changed {
    width: 40% !important;
}
